<h1>Listing movies</h1>
<% form_tag(:action=>'noneOfthese', :method=>'post') do %>
	<p>
		<%= submit_tag 'None of these', :action=>'noneOfthese', :confirm=>'Are you sure?'%>
	</p>
<% end %>
<% form_tag(:action=>'add', :method=>'post') do %>
	<table>
  		<tr>
			<th></th>
    		<th>Title</th>
			<th>Description</th>
  		</tr>
	
		<% @topFive.each do |movie| %>
			<tr>
    			<td><%= radio_button_tag :movieChoice, movie.title %></td>
    			<td><%=h movie.title %></td>
				<td><%=h movie.description%></td>
				<td><%=h hidden_field_tag "title"+movie.title, movie.title %></td>
				<td><%=h hidden_field_tag "description"+movie.title, movie.description %></td>
				<td><%=h hidden_field_tag "score"+movie.title, movie.score %></td>
				<td><%=h hidden_field_tag "rating"+movie.title, movie.rating %></td>
				<td><%=h hidden_field_tag "released_on"+movie.title, movie.released_on %></td>
  			</tr>
		<% end %>
	 	<p>
	    	<%= submit_tag 'Choose', :action=>'add', :confirm=>'Are you sure?'%>
	  	</p>
	</table>
<% end %>

